# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/Aulas/Aula5/HelloWord/nbproject/private/
/Aulas/Aula05/HelloWord/nbproject/private/
/Aulas/Aula05/HelloWorld/nbproject/private/
/Aulas/Aula05/HelloWorld/build/
/Aulas/Aula05/Exercício/OlaMundo/nbproject/private/
/Aulas/Aula05/Exercício/OlaMundo/build/
/Aulas/Aula06/Argumentos/nbproject/private/
/Aulas/Aula06/Argumentos/build/
/Aulas/Aula06/Argumentos/dist/
/Aulas/Aula06/Exercicio/Argumentos/nbproject/private/
/Aulas/Aula06/Exercicio/Argumentos/build/
/Aulas/Aula06/Exercicio/Argumentos2/nbproject/private/
/Aulas/Aula06/Exercicio/Argumentos2/build/
/Aulas/Aula07/Erro01/nbproject/private/
/Aulas/Aula07/Erro01/build/
/Aulas/Aula07/Erro02/nbproject/private/
/Aulas/Aula07/Erro02/build/
/Aulas/Aula07/Erro03/nbproject/private/
/Aulas/Aula10/Variaveis/nbproject/private/
/Aulas/Aula10/Variaveis/build/